@page "/EditItem/{Id}"
@using Lab_2.Data
@using Lab_2.Models
@inject ItemService itemService
@inject NavigationManager NavigationManager

<h2>Edit Item</h2>
<hr />


<form>
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <input form="Id" class="form-control" @bind="@_item.Id" />
            </div>
            <div class="form-group">
                <label for="Name" class="control-label"> Name</label>
                <input for="Name" class="form-control" @bind="@_item.Title" />
            </div>
            <div class="form-group">
                <label for="Description" class="control-label"> Description</label>
                <input for="Description" class="form-control" @bind="@_item.Description" />
            </div>
            <div class="form-group">
                <label for="Description" class="control-label"> Manufacturer</label>
                <input for="Description" class="form-control" @bind="@_item.Manufacturer" />
            </div>
            <div class="form-group">
                <label for="Price" class="control-label"> Price</label>
                <input for="Price" class="form-control" @bind="@_item.Price" />
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <input type="button" class="btn btn-primary" @onclick="@UpdateItem" value="Update" />
                <input type="button" class="btn btn-primary" @onclick="@Cancel" value="Cancel" />
            </div>
        </div>
    </div>
</form>

